<h1>remEMBER THE NINJA TURTLES RULE!</h1>

{{#each model as |reminder|}}
  <div class='reminder-item'>
    {{#link-to 'reminders.reminder' reminder }}<h3>{{reminder.title}}</h3> {{/link-to}}
  </div>
{{/each}}

{{#link-to 'reminders.new'}}New shit{{/link-to}}


{{outlet}}
